$font-one: 'Crimson Text', Helvetica;
$font-two: 'Work Sans', Helvetica;
$color-dark-blue: #2c3554;
$color-light-blue: #2f80ed;
$color-dark-gradient: linear-gradient(
    0deg,
    rgba(41, 52, 83, 0.9994),
    rgba(33, 36, 41, 0.99)
  )
  no-repeat;

$color-light-gradient: linear-gradient(96.79deg, #5088f5 18.38%, #5bb4f5 78.09%)
  no-repeat;

$color-purpel-gradient: linear-gradient(270deg, #a54fbb 0%, #783ab7 100%);
